@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-dark-blue: 213 19% 18%;
    --color-light-grey: 217 12% 63%;
    --color-orange: 25 97% 53%;
    --color-pure-white: 0 0% 100%;
    --color-very-dark-blue: 216 12% 8%;

    --color-bg-neutral: var(--color-very-dark-blue);
    --color-bg-subtle: var(--color-dark-blue);
    --color-bg-subtle-hovered: var(--color-pure-white);
    --color-bg-subtle-selected: var(--color-orange);
    --color-bg-brand: var(--color-orange);
    --color-bg-brand-hovered: var(--color-pure-white);

    --color-border-neutral: var(--color-pure-white);

    --color-text-neutral: var(--color-pure-white);
    --color-text-subtle: var(--color-light-grey);
    --color-text-subtle-hovered: var(--color-dark-blue);
    --color-text-brand: var(--color-orange);
    --color-text-brand-inverse: var(--color-very-dark-blue);
  }

  html {
    font-family: "Overpass", sans-serif;
  }
}
